<h1>stories</h1>
<div class="row">
 {{#each blogs}}
<div class="card ml-2 mb-2 hover-card" style="width: 18rem;">
    
  <img src='/{{image}}' class="card-img-top" alt="No image available">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{stripTags (truncate details 150)}}</p>
    <hr>
    <img src="{{thumbnail}}">
    <a href="/blogs/show/{{id}}" class="btn btn-primary">Read More</a>
    <span><a href="/blogs/edit/{{id}}"><i class="fas fa-pencil-alt"></i></span></a>
  </div>
</div>
 {{else}}
 <p>No stories found!!</p>
 {{/each}}

</div>