<br>
<h1>STORIES</h1>
<br>
<hr>
<div class='container'>
  <div class="row">
  <form method="GET" action="/blogs" class="form">
  <div class="form-group">
  <input type="text" placeholder="search" name="search" class="form-control" value="{{search}}">
  <small class="text-muted">Search through title..</small>
  <div>
  <button class="btn btn-primary">Search</button>
  </div>
  </div>
  </form>
  </div>
</div>
<br>
<hr>
<div class="row">
 {{#each blogs}}
<div class="card ml-2 mb-2 hover-card" style="width: 18rem;">
  <img src='/{{image}}' class="card-img-top" alt="No image available">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{stripTags (truncate details 150)}}</p>
    <hr>
    <img src="{{thumbnail}}">
    <a href="/blogs/show/{{id}}" class="btn btn-primary">Read More</a>
    <span><a href="/blogs/edit/{{id}}"><i class="fas fa-pencil-alt"></i></span></a>
  </div>
</div>
 {{else}}
 <p>No stories found!!</p>
 {{/each}}

</div>